@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#main{
    width: 600px;
    margin-left: 200px;
    margin-top: 50px;
    background-image: url("https://img.freepik.com/foto-gratis/fondo-papel-blanco-arte_35956-2379.jpg?size=626&ext=jpg");
    background-repeat: repeat-y;
    padding-left: 20px;
    text-align: center;
    
   
}

#espacio{
    width: 20px;
    height: 20px;
}
body{
    background-color: black;
}